$bordercolor:1px solid grey;
$greysmall: grey;

// BROWSER
div {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
} 

/* DASHBOARD KIT ON THE LEFT */
.dashboardkit {
    height: auto;

    background-color: rgb(50, 52, 70);
    color: $greysmall;
    h1 {
        font-size: 30px;
        font-weight: 600;
        padding: 30px 30px 50px 30px;
    }
    #burgericon {
        display: none;
    }
}

.navs {
    color: white;
    font-size: 20px;
    margin: 30px 0 0 20px;
    align-items: center; 
    padding: none;
    text-decoration: none !important;

    div {
        margin: 0 0 0 20px  ;
    }
}
.navs:hover {
    color: $greysmall;
}

.settings {
    border-top: $bordercolor;
    padding-top: 30px;
}

/* CONTENTS ON THE RIGHT SIDE */
.right {
    background-color: rgb(228, 237, 247);
}

/* OVERVIEW */
.overview {
    margin: 10px 0 0 0;

    h1 {
        font-size: 25px;
        font-weight: 800;
    }
}
.searchuser {
    align-items: center;
    p {
        font-size: 20px;
    }
    img {
        width: 40px;
    }
    
}
/* 4 BUTTONS */
.fourbuttons {
    height: 150px;
    background-color: white;
    text-align: center;
    border-radius: 25px;
    align-content: center;
    color: $greysmall;
    border: $bordercolor;
}
.fourbuttons:hover{
    color: blue;
    border: solid 2px blue !important;
}
.number {
    color: black;
    font-size: 45px;
}
.number:hover {
    color: blue !important;
}

// /* TODAY TREND */
.trend {
    height: auto;
    background-color: white;
    border: $bordercolor;
    border-radius: 10px;
    margin: 20px 10px;
    font-family: "Nunito", sans-serif;

}
.todaytrend {
    h1 {
        font-size: 25px;
        font-weight: 700;
        margin: 30px 0 10px 20px;
        }
    h2 {
        font-size: 14px;
        color: grey;
        margin: 0 0 0 20px;
        display: flex;
        align-items: flex-start;
    }
    img {
        margin: 30px;
        width: 90%;
    }
}


/* DATA  ON THE RIGHT */
.data {
    height: auto;
    border-left: $bordercolor;
    // border: red 1px solid;
}
.datarow .nolinebot {
    border-bottom: none;
}

.datarow {
    h1 {
    font-size: 20px;
    text-align: center;
    color: grey;
    padding: 20px 0 0 0;
    }
    h2 {
    font-size: 20px;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    padding-bottom: 20px;
    margin: 10px 0 0 0;
    }
    div {
        width: 100%;
        border-bottom: $bordercolor;
    }
}

// BOTTOM 2 SQUARE
.square1,
.square2 {
    height: auto;
    background-color: white;
    border: $bordercolor;
    border-radius: 10px;
}

.left1 {
    h1 {
        margin: 25px 0 10px 25px;
        font-weight: 700;
        font-size: 20px;
}
    h2 {
        margin: 0 0 0 25px;
        font-size: 15px;
        display: flex;
        align-items: flex-start;
        color: $greysmall;
}}
.right1 h1,
.right2 h1 {
    font-size: 18px;
    margin: 40px 25px;
    display: flex;
    justify-content: flex-end;  
    color: blue; 
}

.left2 {
    h1 {
        margin: 25px 0 10px 25px;
        font-weight: 700;
        font-size: 20px;
    }
    h2 {
        margin: 0 0 0 25px;
        font-size: 15px;
        display: flex;
        align-items: flex-start;
        color: $greysmall;

    }
}


.line1,
.line2 {
    margin: 8px;
    font-size: 18px;
    border-bottom: $bordercolor;
    padding: 20px;
    align-items: center;
}

.noline {
    border-bottom: none;
}
.word,
.numb {
    color: $greysmall;
}

button { 
    width: 100px;
    height: 30px;
    border-radius: 10px;    
    border: none;
    padding: none;
    font-weight: 500;
    color: white;
}
.button1 {
    background-color: rgb(255, 117, 42);
}
.button2 {
    background-color: rgb(49, 237, 49);
}
.button3 {
    background-color: rgb(120, 120, 120);
}

@media only screen and (max-width: 650px) {
    .burgermenu {
        display: block;
    }
    /* OVERVIEW */
    .overview {
        h1 {
            font-size: 15px;
        }
        div {
            margin: none;
        }
    }
    .right {
        width: auto;
    }
    .searchuser {
        width: 80%;
        .name {
            display: none !important;
        } 
        img {
            width: 30px;
        }
    }

    // 4BUTTONS
    .fourbuttons {
        margin: 0;
    }
    .data {
        border-left: none !important;
    }

}